<% unless @number.nil? %>
  <p>We are using <%= @number %> stored in memory.</p>
<% end %>

<form method="post" action="/calculate">
  <input type="number" name="number1" value="<%= @number %>">
  <input type="number" name="number2">

  <button name="operation" value="add" type="submit">
    Add
  </button>

  <button name="operation" value="subtract" type="submit">
    Subtract
  </button>

  <button name="operation" value="multiply" type="submit">
    Multiply
  </button>

  <button name="operation" value="divide" type="submit">
    Divide
  </button>
</form>
